.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section img {
  width: 150px;
  height: auto;
}

.section {
  padding: 1.5rem 3rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.colors {
  display: flex;
  column-gap: .5rem;
}

.col {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.text-white {
  color: white;
}

.col-1-1 {
  background-color: #ae7b50;
}
.col-1-2 {
  background-color: #f8b330;
}
.col-1-3 {
  background-color: #524637;
}
.col-1-4 {
  background-color: #d6c8b4;
}
.col-1-5 {
  background-color: #4b2d1a;
}
.col-1-6 {
  background-color: #f8b58d;
}

.col-2-1 {
  background-color: #a37d59;
}
.col-2-2 {
  background-color: #e58c31;
}
.col-2-3 {
  background-color: #604c33;
}
.col-2-4 {
  background-color: #daccb3;
}
.col-2-5 {
  background-color: #993611;
}
.col-2-6 {
  background-color: #f8c479;
}

.col-3-1 {
  background-color: #847b77;
}
.col-3-2 {
  background-color: #48423d;
}
.col-3-3 {
  background-color: #c8a798;
}
.col-3-4 {
  background-color: #010000;
}
.col-3-5 {
  background-color: #fdede3;
}

.col-4-1 {
  background-color: #b0776a;
}
.col-4-2 {
  background-color: #cd6350;
}
.col-4-3 {
  background-color: #273949;
}
.col-4-4 {
  background-color: #b3c0ca;
}
.col-4-5 {
  background-color: #1f385b;
}
.col-4-6 {
  background-color: #eb9c77;
}

.col-home-1 {
  background-color: #f8b58d;
}
.col-home-2 {
  background-color: #df9c92;
}
.col-home-3 {
  background-color: #dad4c4;
}
.col-home-4 {
  background-color: #e78b2b;
}
.col-home-5 {
  background-color: #947b66;
}
.col-home-6 {
  background-color: #8b989e;
}
.col-home-7 {
  background-color: #514e45;
}
.col-home-8 {
  background-color: #271e17;
}

.col-home-01 {
  background-color: #925a89;
}
.col-home-02 {
  background-color: #c26877;
}
.col-home-03 {
  background-color: #55364e;
}
.col-home-04 {
  background-color: #d2aeb4;
}
.col-home-05 {
  background-color: #5e2630;
}
.col-home-06 {
  background-color: #eed19e;
}