@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  --text-color-white: #f1f1f1;
  --color-primary: #060b34;
  --color-secondary: #bda381;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  /* overflow-y: hidden; */
  font-family: 'Raleway', sans-serif;
  opacity: 0;
}

.intro-container {
  height: 130vh;
  width: 100%;
  position: relative;
  /* z-index: 2; */
}

#make-me-cool {
  height: 130vh;
  width: 100%;
  position: absolute;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* ****************************************** */
/* *************** NAVIGATION *************** */
/* ****************************************** */

.nav {
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  position: fixed;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  z-index: 10;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}

.liste-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  /* width: 100%; */
  /* height: 100%; */
}

.bloc-titre h1 {
  letter-spacing: 2.5px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-shadow: 0 0 10px rgb(49, 49, 49);
  color: var(--text-color-white);
  opacity: 1;
  position: relative;
  z-index: 3;
}

.bloc-titre h1 span {
  display: block;
  color: var(--text-color-white);
  opacity: 1;
}

.bloc-titre .nom {
  font-size: 30px;
}

.bloc-titre .job {
  font-family: 'Raleway';
  font-size: 16px;
  letter-spacing: 2.5px;
  margin-top: 8px;
}

.bloc-titre-mobile {
  display: none;
}

.item-nav {
  display: flex;
  align-items: center;
}

.item-nav a {
  text-decoration: none;
  color: var(--text-color-white);
  letter-spacing: 1.5px;
  /* padding: 7px 25px; */
  /* margin: 0 25px; */
  margin-left: 20px;
  cursor: pointer;
}

.item-nav a::after {
  content: '';
  display: block;
  margin: 0 auto;
  background: var(--text-color-white);
  width: 0%;
  height: 2px;
  transition: width 0.2s ease-in-out;
}

.item-nav a:hover::after {
  width: 100%;
}

/* Hamburger Menu */
.logo-menu {
  position: absolute;
  width: 50px;
  top: 10px;
  right: 15px;
  z-index: 25;
  display: none;
}

/* ****************************************** */
/* *************** ACCUEIL ****************** */
/* ****************************************** */

.accueil {
  width: 100%;
  /* max-width: 1400px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -50px 100px;
}

.accueil .container h3 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  letter-spacing: 1.5px;
  /* font-style: italic; */
  font-weight: 700;
  margin-top: 130px;
  padding: 70px 0;
  color: var(--text-color-white);
  position: relative;
  text-align: center;
  display: none;
}

.accueil-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-gap: 80px;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper {
  position: relative;
  /* min-height: 350px; */
  /* Ses enfants vont utiliser la perspective */
  perspective: 2000px;
  perspective-origin: top;
  margin: 0 20px;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card {
  /* position: relative; */
  height: 300px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  color: var(--text-color-white);
  font-weight: bold;
}

.card-front,
.card-back {
  position: absolute;
  height: 300px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.card-front {
  background: rgba(31, 38, 73, 0.7);
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
}

.card .front-particulier {
  color: var(--text-color-white);
}

.card .back-particulier {
  background: #ececec;
}

.card-front h2 {
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}

.card-text {
  font-size: 35px;
  letter-spacing: 2.5px;
  font-weight: 300;
  text-align: center;
  padding-top: 40px;
}

.arrow-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.card-back {
  background: var(--color-secondary);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  line-height: 2.5;
  font-size: 18px;
}

.card-back p:nth-child(1) {
  /* padding-top: 30px; */
  margin-top: -20px;
}

.card-back p:last-of-type {
  margin-bottom: 25px;
}

.card-back a {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--text-color-white);
  padding: 7px 65px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
  color: var(--color-primary);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.card-back a:hover {
  background-color: #060b34;
  color: var(--text-color-white);
}

.card-back .back-particulier {
  background: var(--text-color-white);
}

.card-back.back-particulier a {
  background-color: var(--color-secondary);
  color: var(--text-color-white);
}

.card-back.back-particulier a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* ****************************************** */
/* *************** PRÉSENTATION ************* */
/* ****************************************** */

/* ****************************************** */
/* *************** RESPONSIVE ************* */
/* ****************************************** */

@media (max-width: 980px) {
  .container {
    width: 100%;
  }

  .accueil-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .logo-menu {
    display: block;
  }

  .liste-nav {
    padding-top: 100px;
    flex-direction: column;
    height: auto;
    position: relative;
    background: rgba(31, 38, 73, 1);
    display: none;
  }

  .nav {
    padding: 0;
  }

  .bloc-titre {
    display: none;
  }

  .liste-nav.active {
    display: block;
    width: 100%;
    height: 100%;
  }

  .item-nav {
    height: 70px;
    justify-content: center;
  }

  .item-nav a {
    align-items: center;
    margin-left: 0;
  }

  .accueil .container h3 {
    display: block;
  }

  .accueil-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
